// index.pug
// This page renders the SES dashboard

html
  head
    title Sending: #{enabled}

  body
    p Bounce Rate: #{bounce_rate}
    p Complaint Rate: #{complaint_rate}
    p Total Send Attempts: #{total_send_attempts}
    p Total Send Quota: #{total_send_quota}
