// index.pug
// This page renders the SES dashboard

doctype html

html
  head
    title Sending: #{enabled}

    link(rel = "stylesheet"
         href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
         integrity = "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
         crossorigin = "anonymous")

    script(src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
           integrity = "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
           crossorigin = "anonymous")

  body
    p Bounce Rate: #{bounce_rate}
    p Complaint Rate: #{complaint_rate}
    p Total Send Attempts: #{total_send_attempts}
    p Total Send Quota: #{total_send_quota}
